@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

html,
body {
  height: 100%;
}

body {
  background-image: url("../img/background-img.jpg");
  background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
}

$color-Contenedor: rgba(120, 6, 15, 0.8); // Define el color de fondo para los contenedores
$borde-Blanco: 2px solid white; // Define el estilo del borde blanco

#body {
  @include make-container();

  #body-row {
    @include make-row(1);
  }

  #solution {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(2);
    }
    
    background-color: $color-Contenedor; // Aplica el color de fondo al contenedor
    border: $borde-Blanco; // Aplica el borde blanco al contenedor
  }

  #development {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    background-color: $color-Contenedor; // Aplica el color de fondo al contenedor
    border: $borde-Blanco; // Aplica el borde blanco al contenedor
    color: white;
  }

  #latest-news {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    background-color: $color-Contenedor; // Aplica el color de fondo al contenedor
    border: $borde-Blanco; // Aplica el borde blanco al contenedor
  }
}



.content {
  flex: 1 0 auto;
}

#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#video-bg>video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

$colorHeader: #78020f;
$header-bg: linear-gradient(to bottom, $colorHeader, #280206);
$subnav-link-opacity: 0.15;
$transition: all .35s ease-in-out;
$header-height: 3.1rem;
$font-weight-top-menu: bold;
$subnav-link-padding: 0.3rem;
$subnav-font-size: 1.5rem;


.top-menu {
  background: $header-bg;
  position: relative;
  overflow: visible;
  text-align: center;
  margin: 0;
  padding-top: $header-height;
  font-weight: $font-weight-top-menu;
  color: white;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);


  ul {
    list-style-type: none;
    width: 100%;
    position: absolute;
    padding-top: 5.2rem;

    bottom: 0;



    li {
      display: inline;

      a {
        color: white;
        font-size: 1.1rem;
        text-decoration: none;
        padding: $subnav-link-padding 1.5rem;

        &.is-active {
          background: rgba(250, 250, 250, $subnav-link-opacity);
        }

        &:hover {
          background: rgba(250, 250, 250, $subnav-link-opacity);
          transition: $transition;
        }
      }
    }
  }
}

@mixin footer-common-styles {
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  z-index: 999;
}

#footer-index {
  @include footer-common-styles;
}

#footer-general {
  @include footer-common-styles;
  background: rgba(120, 2, 15, 0.5);
}

@media screen and (max-width: 768px) {
  .footer-index {
    @include footer-common-styles;
    padding: 0.5rem;
    font-size: 14px;
  }
}